.header__bottom{
    display: flex;
    align-items: center;
    padding: 0 0 10px;
    justify-content: space-between;
}

.container {
    width: 1488px;
    padding: 0px 32px;
    margin: 0px auto;
}


.header__catalog__btn{
    display: flex;
    align-items: center;
    background: #fbc100;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    margin-right: 50px;
}

.header__catalog__btn svg{
    font-size: 24px;
}

.header__catalog__btn span:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: .3px;
    color: #333;
    margin-left: 12px;
    height: 24px;
    cursor: pointer;
}

.header__bottom__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__bottom__list > li{
    margin: 0 10px;
    text-align: center;
}

.header__bottom__list  a{
    color: #333;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    display: block;
    transition: .2s;
}

.header__bottom__list  a:hover{
    color: #767676;
}