.app-banner{
    display: flex;
    background-color: #f7f7f7;
    border-radius: 16px;
    margin-bottom: 68px;
    padding: 0 90px 0 120px;
}

.left{
    position: relative;
    max-width: 475px;
    width: 100%;
    margin: 0 130px 0 0;
}

.left img{
    position: absolute;
    top: -8px;
    width: 475px;
    height: 440px;
}

.right{
    padding: 50px 0px;
}

.info-title{
    font-weight: 700;
    font-size: 38px;
    line-height: 140%;
    color: #000;
    margin-bottom: 20px;
}

.info-desc{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
    max-width: 420px;
}

.info-quar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.code{
    margin: 0px 24px 0px 0px;
}
.code img{
    width: 112px;
    height: 112px;
}

.text {
    max-width: 180px;
}