.bannerwrapper{
  margin-bottom: 44px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper .swiper-button-prev {
  background-image: url("../../assets/image/prev.png");
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #ececec;
  top: 55%;
  left: 44px;
  transform: translateY(-50%);
}

.mySwiper .swiper-button-next {
  background-image: url("../../assets/image/next.png");
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fff;
  border: 1px solid #ececec;
  top: 55%;
  right: 44px;
  transform: translateY(-50%);
}

.swiper-button-next::after , .swiper-button-prev::after {
display: none;
}

